<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MS map's in Python</title>
    
</head>
<body>
<div id='adressContainer'>
    <h1>Type your adress:</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="text" name="adress">
        <br>
        <input type="submit" value="Search" />
    </form>

    <div id="ShowMap">
    {% extends "layout.html"%}
    {% block title %} Test {% endblock %}
    {% block head %} {{ super() }} {% endblock %}
    {% block body %}
        {% include "mapa.html" %}
    {% endblock %}  
    </div>  

    

</div>


</body>
</html>