<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8e09cc9c6095477aab355e7abde616aa {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8e09cc9c6095477aab355e7abde616aa" ></div>
        
</body>
<script>    
    
            var map_8e09cc9c6095477aab355e7abde616aa = L.map(
                "map_8e09cc9c6095477aab355e7abde616aa",
                {
                    center: [48.858260200000004, 2.2944990543196795],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e6f8290a02474217914697a633ff94e9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8e09cc9c6095477aab355e7abde616aa);
        
    
            var marker_4853f05b7a334f5b96315538e54f02cc = L.marker(
                [48.858260200000004, 2.2944990543196795],
                {}
            ).addTo(map_8e09cc9c6095477aab355e7abde616aa);
        
    
            var icon_73395d1921824c30a37db31c70ef9ebc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4853f05b7a334f5b96315538e54f02cc.setIcon(icon_73395d1921824c30a37db31c70ef9ebc);
        
    
        var popup_20851ae45a764a6383c0846da36b0057 = L.popup({"maxWidth": "100%"});

        
            var html_ecef457167a74714bd48e6ea49ec9aba = $(`<div id="html_ecef457167a74714bd48e6ea49ec9aba" style="width: 100.0%; height: 100.0%;">Ubicación seleccionada</div>`)[0];
            popup_20851ae45a764a6383c0846da36b0057.setContent(html_ecef457167a74714bd48e6ea49ec9aba);
        

        marker_4853f05b7a334f5b96315538e54f02cc.bindPopup(popup_20851ae45a764a6383c0846da36b0057)
        ;

        
    
</script>